[Unit]
Description=Blockgradient (Laravel Octane)
After=network.target

[Service]
User=admin
Group=admin
WorkingDirectory=/var/www/blockgradient
ExecStart=/var/www/blockgradient/frankenphp php-cli artisan octane:start --server=frankenphp --host=0.0.0.0 --port=8001 --max-requests=500
ExecReload=/bin/kill -USR1 $MAINPID
Restart=always
RestartSec=3
EnvironmentFile=/var/www/blockgradient/.env

[Install]
WantedBy=multi-user.target
